# Large data files
data/raw/*.csv
*.db

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints

# Environment
venv/
env/
ENV/

# OS
.DS_Store
Thumbs.db

# Tableau
*.twb
*.hyper
